<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>There is a new Order from <%= @order.first_name %> <%= @order.last_name %></h4>
    <p>
      The order totals <b><%= number_to_currency(@order.subtotal) %></b>, consisting of:
    </p>
    <br>
    <table>
      <tr>
        <th>Product</th>
        <th>Item Number</th>
        <th>style_number</th>
        <th>Quantity</th>
        <th>Total Price</th>
      </tr>
        <% @order.order_items.find_each do |item| %>
      <tr>
        <td><%= item.product.name %></td>
        <td><%= item.product.item_number %></td>
        <td><%= item.product.style_number %></td>
        <td><%= item.quantity %></td>
        <td><%= number_to_currency(item.total_price) %></td>
      </tr>
        <% end %>
    </table>
  <br>
  <h4>Shipping Details</h4>
  <p><%= @order.first_name %> <%= @order.last_name %></p>
  <p><%= @order.address_line_1 %>, <%= @order.address_line_2 %></p>
  <p><%= @order.city %>, <%= @order.state %> <%= @order.zip_code %></p>
  <p><%= @order.phone_number %>, <%= @order.email %>
  <br>
  <h4>Have a great day!</h4>
  </body>
</html>
