<div class="account-header">
  <div class="d-flex justify-content-start">
      <div class="col-1 p-2 offset-1">
        <%= image_tag(@account.logo_url(:thumb), class: 'd-flex align-self-center header-logo-image' )%>
      </div>
      <div class="col-3 p-3">
        <h1><%= @account.business_name %></h1>
        <h3 class="text-muted">Spring Promo 2017</h3>
      </div>
  </div>
</div>
<div class="container">
  <br>
  <div class="row">
    <div class="col-4 offset-4">
      <h6>Shipping Details: </h6>
      <br>
      <%= form_for [@account, @order] do |f| %>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :first_name, class: 'form-control', :placeholder => :first_name, required: true %>
            </div>
            <div class="col-6">
              <%= f.text_field :last_name, class: 'form-control', :placeholder => :last_name, required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-8">
              <%= f.text_field :address_line_1, class: 'form-control', :placeholder => "Address", required: true %>
            </div>
            <div class="col-4">
              <%= f.text_field :address_line_2, class: 'form-control', :placeholder => "Apt/Bld #"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :city, class: 'form-control', :placeholder => :city, required: true %>
            </div>
            <div class="col-6">
              <%= f.text_field :state, class: 'form-control', :placeholder => :state, required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <%= f.text_field :zip_code, class: 'form-control', :placeholder => :zip_code, required: true %>
            </div>
            <div class="col-8">
              <%= f.text_field :phone_number, class: 'form-control', :placeholder => :phone_number, required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :email, class: 'form-control', :placeholder => "Email address", required: true %>
        </div>
        <br>
        <div class="row justify-content-md-center">
          <div class="actions">
            <%= f.submit "Start Bulk Order", class: 'btn add-to-cart-button'%>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
