<%= render partial: 'layouts/header', locals: { account: @account, order: @order } %>
<div class="container">
  <br>
  <%= form_for [@account, @order] do |f| %>
  <div class="row">
    <div class="col-4 offset-1">
      <h6>Billing Details: </h6>
      <br>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :billing_first_name, class: 'form-control', :placeholder => "First name", required: true %>
            </div>
            <div class="col-6">
              <%= f.text_field :billing_last_name, class: 'form-control', :placeholder => "Last name", required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-8">
              <%= f.text_field :billing_address_line_1, class: 'form-control', :placeholder => "Address", required: true %>
            </div>
            <div class="col-4">
              <%= f.text_field :billing_address_line_2, class: 'form-control', :placeholder => "Apt/Bld #"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :billing_city, class: 'form-control', :placeholder => "City", required: true %>
            </div>
            <div class="col-6">
              <%= f.text_field :billing_state, class: 'form-control', :placeholder => "State", required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <%= f.text_field :billing_zip_code, class: 'form-control', :placeholder => "Zip code", required: true %>
            </div>
            <div class="col-8">
              <%= f.text_field :billing_phone_number, class: 'form-control', :placeholder => "Phone number", required: true %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :billing_email, class: 'form-control', :placeholder => "Email address", required: true %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :billing_branch_number, class: 'form-control', :placeholder => "Billing Branch #", required: true %>
            </div>
            <div class="col-6">
              <%= f.text_field :pc_id_number, class: 'form-control', :placeholder => "PC ID #", required:true %>
            </div>
          </div>
        </div>


        <br>

      </div>
    <div class="col-4 offset-2">
      <h6>Shipping Details:</h6>
      <%= f.label :same_as_billing %>
      <%= f.check_box :same_as_billing %>
      <br>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :shipping_first_name, class: 'form-control', :placeholder => "First name" %>
            </div>
            <div class="col-6">
              <%= f.text_field :shipping_last_name, class: 'form-control', :placeholder => "Last name" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-8">
              <%= f.text_field :shipping_address_line_1, class: 'form-control', :placeholder => "Address" %>
            </div>
            <div class="col-4">
              <%= f.text_field :shipping_address_line_2, class: 'form-control', :placeholder => "Apt/Bld #"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :shipping_city, class: 'form-control', :placeholder => "City" %>
            </div>
            <div class="col-6">
              <%= f.text_field :shipping_state, class: 'form-control', :placeholder => "State"%>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-4">
              <%= f.text_field :shipping_zip_code, class: 'form-control', :placeholder => "Zip code" %>
            </div>
            <div class="col-8">
              <%= f.text_field :shipping_phone_number, class: 'form-control', :placeholder => "Phone number" %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <%= f.text_field :shipping_email, class: 'form-control', :placeholder => "Email address" %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <%= f.text_field :shipping_branch_number, class: 'form-control', :placeholder => "Shipping Branch #" %>
            </div>

          </div>
        </div>
        <br>
      </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="form-group">
      <%= f.label 'Please choose logo for items:' %>
      <%= f.select(:id, options_from_collection_for_select(@account.product_logos, :id, :name), {:include_blank => 'Choose Logo'},  class: "form-control", required: true ) %>
    </div>
  </div>
  <% unless @account.order_special_message.nil? %>
    <div class="row justify-content-md-center">
        <b><p><%= @account.order_special_message %></p></b>
    </div>
  <% end %>
  <div class="row justify-content-md-center">
    <div class="actions">
      <%= f.submit "Start Bulk Order", class: 'btn add-to-cart-button'%>
    </div>
  </div>
  <% end %>
</div>
<br>
