<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thank you for ordering from <%= @account.business_name %>, <%= @order.first_name %></h4>
    <p>
      You have successfully created a bulk order that is now being processed by <%= @account.business_name %>.
    </p>
    <p>
      Your order, totaling <b><%= number_to_currency(@order.subtotal) %></b>, consists of:
    </p>
    <ul>
      <% @order.order_items.find_each do |item| %>
        <li><%= item.product.name %> * <%= item.quantity %> @ <%= number_to_currency(item.total_price) %></li>
      <% end %>
    </ul>
    <p>We will be in touch with shipping costs and information.</p>
    <h3>Questions?</h3>
    <p>Contact Mary:</p>
    <p>Phone: (608)-755-0144</p>
    <p>Email: mary@mmpric.net </p>
    <p>Fax: (608) 755-0889</p>
    <br>
    <h5>Have a great day!</h5>
  </body>
</html>
