<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thank you for your <%= @account.business_name %> Order!</h4>
    <p>
      You have successfully created a promo order that is now being processed by MMPR, Inc.
    </p>
    <p>
      Your order, totaling <b><%= number_to_currency(@order.subtotal) %></b>, consists of:
    </p>
    <ul>
      <% @order.order_items.find_each do |item| %>
        <li><%= item.product.name %> - <%= item.size.name %> * <%= item.quantity %> @ <%= number_to_currency(item.total_price) %></li>
      <% end %>
    </ul>
    <p>Please allow 5-7 business days for production before your order will ship. Standard shipping time will vary by location. A final invoice including the shipping charges will be emailed upon fulfillment of your completed order.</p>

    <h3>Questions?</h3>
    <p>Contact: <%= @account.contact_first_name %></p>
    <p>Phone: <%= @account.phone_number %></p>
    <p>Email: <%= @account.email_address %> </p>
    <p>Fax: <%= @account.fax_number %></p>
    <br>
    <h5>Have a great day!</h5>
  </body>
</html>
