<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>Thank you for ordering from <%= @account.business_name %>, <%= @order.billing_first_name %></h4>
    <p>
      You have successfully created a bulk order that is now being processed by MMPR, Inc.
    </p>
    <p>
      Your order, totaling <b><%= number_to_currency(@order.subtotal) %></b>, consists of:
    </p>
    <ul>
      <% @order.order_items.find_each do |item| %>
        <li><%= item.product.name %> - <%= item.size.name %> * <%= item.quantity %> @ <%= number_to_currency(item.total_price) %></li>
      <% end %>
    </ul>
    <p>Delivery time will be approx. 3 weeks after orders are received. A final invoice including shipping charges will be emailed upon fulfillment of the order.</p>
    <h3>Questions?</h3>
    <p>Contact <%= @account.contact_first_name %>:</p>
    <p>Phone: <%= @account.phone_number %></p>
    <p>Email: <%= @account.email_address %> </p>
    <p>Fax: <%= @account.fax_number %></p>
    <br>
    <h5>Have a great day!</h5>
  </body>
</html>
