
<div class="container">
  <%= link_to 'Return to Order', account_order_path(@account, @order), class: 'btn btn-outline-secondary' %>
  </div>
  <div class="row justify-content-md-center">
      <div class="col col-6">
            <div class="media">
              <% if @product.colors.empty? %>
                <p>No Image Available</p>
              <% else %>
                <%= image_tag(@product.colors.first.color_sample_url(:thumb), class: 'd-flex align-self-center' )%>
              <% end %>
                <div class="media-body">
                <h5 class="mt-0"> <%= @product.name %></h5>
                <ul>
                  <li><b>Description:</b> <%= @product.description %></li>
                  <li><b>Vendor:</b> <%= @product.vendor %></li>
                  <li><b>Style Number:</b> <%= @product.style_number %></li>
                  <li><b>Item Number:</b> <%= @product.item_number %></li>
                  <li><b>Product Page:</b> <%= link_to 'Website Link', @product.product_page_url, target: :_blank %></li>
                </ul>
              </div>
            </div>
          </div>
          <%= form_for [@account, @order, @order_item] do |f| %>
            <%= f.hidden_field :product_id, value: "#{@product.id}" %>
            <%= f.hidden_field :order_id, value: "#{@account.id}" %>


              <div class="form-group">
                <%= f.label 'Color' %>
                <%= f.select(:color_id, options_from_collection_for_select(@colors, :id, :name)) %>
              </div>
              <div class="form-group">
                <%= f.label 'Size' %>
                <%= f.select(:size_id, options_from_collection_for_select(@sizes, :id, :name_with_price)) %>
              </div>
              <div class="form-group">
                <%= f.label 'quantity' %>
                <%= f.number_field :quantity, class: 'form-control' %>
              </div>
              <div class="actions">
                <%= f.submit "Order", class: 'btn btn-success' %>
              </div>
          <% end %>
        </div>
      </div>
  </div>
</div>
