<div class="account-header">
  <div class="d-flex justify-content-start">
      <div class="col-1 p-2 offset-1">
        <%= image_tag(@account.logo_url, class: 'd-flex align-self-center header-logo-image' )%>
      </div>
      <div class="col-3 p-3">
        <h1><%= @account.business_name %></h1>
        <h3 class="text-muted"> <%= @account.order_form_subheading %>    </h3>
        <p class="text-muted">Orders due by <%= @account.try(:orders_due_by).try(:strftime, "%B %d, %Y") %></p>
      </div>
      <div class="col-3 ml-auto p-3">
        <% if !@order.new_record? %>
          <%= link_to "Check Out", cart_path(order_id: @order.id, id: @account), class: 'cart-image' %>
          <%= link_to '', cart_path(order_id: @order.id, id: @account), class: 'fa fa-shopping-cart fa-3x fa-fw cart-image' %>
          <%= number_to_currency(@order.subtotal) %>
        <% end %>
      </div>
  </div>
</div>

<div class="container">
  <%= link_to 'Return to Order', account_order_path(@account, @order), class: 'btn btn-outline-secondary add-to-cart-button' %>
</div>
  <div class="container">
      <div class="row justify-content-md-center new-order-item">
          <div class="col-3 offset-2 align-self-center">
              <% if @product.colors.empty? %>
                <p>No Image Available</p>
              <% else %>
                <%= image_tag(@product.colors.first.color_sample_url(:thumb), class: 'd-flex align-self-center new-order-item-image' )%>
              <% end %>
          </div>
            <div class="col-6">
              <%= form_for [@account, @order, @order_item] do |f| %>
                  <p class="new-order-item-header"><b><%= @product.name %>: <%= number_to_currency(@product.sizes.first.price) %></b></p>
                  <p><b>Description:</b> <%= @product.description %></p>
                  <br>
                  <p><b>Item Number:</b> <%= @product.item_number %></p>
                  <br>
                  <%= f.hidden_field :product_id, value: "#{@product.id}" %>
                  <%= f.hidden_field :order_id, value: "#{@account.id}" %>
                  <div class="form-group">
                    <b><%= f.label 'Color' %></b>
                    <%= f.select(:color_id, options_from_collection_for_select(@colors, :id, :name)) %>
                  </div>
                  <div class="form-group">
                    <b><%= f.label 'Size' %></b>
                    <%= f.select(:size_id, options_from_collection_for_select(@sizes, :id, :name_with_price, { include_blank: true })  ) %>
                  </div>
                    <div class="form-group quantity-field">
                      <b><%= f.label 'quantity' %></b>
                      <%= f.number_field :quantity, class: 'form-control', required: true, min: 1 %>
                    </div>
                      <div class="actions">
                    <%= f.submit "Add To Cart", class: 'btn add-to-cart-button' %>
                    </div>
                  <br>
              <% end %>
            </div>
          </div>
          <div class="row">
            <br>
            <br>
          </div>
    </div>
