<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br>
      <%= link_to 'Back', :back, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
  <br>
  <div class="row">
    <div class='col-md-6'>
      <div class="card">
        <div class="card-header">
          Edit Product
        </div>
        <div class="card-block">
          <%= form_for [@account, @product], {multipart: true} do |f| %>
            <div class="form-group">
              <%= f.label :name %><br />
              <%= f.text_field :name, autofocus: true, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :description %><br />
              <%= f.text_area :description, class: 'form-control' %>
            </div>
            <div class="form-group">
             <%= f.label :item_number %><br />
             <%= f.text_field :item_number, class: 'form-control' %>
           </div>
            <div class="form-group">
              <%= f.label :ordering_number %><br />
              <%= f.number_field :ordering_number, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :vendor %><br />
              <%= f.text_field :vendor, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :product_page_url %><br />
              <%= f.text_field :product_page_url, class: 'form-control' %>
            </div>
            <div class="form-group">
              <%= f.label :hide_display_price %><br />
              <%= f.check_box :hide_display_price, class: 'form-control' %>
            </div>

            <div class="form-group">
            <%= f.label :product_image %>
            <%= f.file_field :product_image, class: 'form-control-file'  %>
          </div>

            <div class="actions">
              <%= f.submit "Update", class: 'btn btn-outline-secondary' %>
            </div>

          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
