<div class="container">
  <div class="row">
    <%= link_to 'Back', account_path(@product.account_id), class: 'btn btn-outline-secondary' %>
  </div>
  <div class="jumbotron jumbotron-white">
    <%= link_to 'Edit', edit_account_product_path(@account, @product) %>
      <div class="media">
        <% if @product.colors.empty? %>
          <p>No Image Available</p>
        <% else %>
          <%= image_tag(@product.colors.first.color_sample_url(:thumb), class: 'd-flex align-self-center' )%>
        <% end %>
          <div class="media-body">
          <h5 class="mt-0"> <%= @product.name %></h5>
          <ul>
            <li><b>Description:</b> <%= @product.description %></li>
            <li><b>Vendor:</b> <%= @product.vendor %></li>
            <li><b>Style Number:</b> <%= @product.style_number %></li>
            <li><b>Item Number:</b> <%= @product.item_number %></li>
            <li><b>Product Page:</b> <%= link_to 'Website Link', @product.product_page_url, target: :_blank %></li>
          </ul>
        </div>
      </div>
  </div>
</div>
<div class="container">
  <div class="row">

    <div class="col-12">

      <div class="card">
        <div class="card-header">
          Colors - <%= link_to 'Assign Color', new_color_path(product_id: @product.id)%>
        </div>
        <div class="card-block">
          <%= render partial: 'colors/product_colors', locals: { product: @product} %>
          <%= render partial: 'colors/new', locals: { product_id: @product.id, color: @new_color} %>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Sizes - <%= link_to 'Assign Sizes', new_size_path(product_id: @product.id)%>
        </div>
        <div class="card-block">
          <%= render partial: 'sizes/product_sizes', locals: { product: @product} %>
          <%= render partial: 'sizes/new', locals: { product_id: @product.id, size: @new_size} %>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="container">
  <div class="jumbotron jumbotron-white">

  </div>
</div>
