<div class="container">
  <div class="row">
    <div class="col-md-4">
      <br>
      <%= link_to 'Back', accounts_path, class: 'btn btn-outline-secondary' %>
    </div>
  </div>
  <br>
</div>
<div class="container">


    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <h2> <%= @account.business_name %> </h2>
        <hr class="my-4">
      </div>
    </div>
    <div class="row justify-content-md-center">
      <div class="col col-md-auto">
        <%= link_to 'Add Product', new_account_product_path(@account), class: 'btn btn-outline-secondary' %>
      </div>
    </div>
    <br>
    <div class="row justify-content-md-center">
      <h2>Products</h2>
    </div>
        <div class="row justify-content-md-center">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Name</th>
                <th>Product Number</th>
                <th>Active</th>
              </tr>
            </thead>
            <tbody>
              <% @products.each do |prod| %>
              <tr>
                <th scope="row"> <%= link_to 'edit', '#',  class: 'btn btn-outline-secondary btn-sm' %> </th>
                <td><%= prod.name %></td>
                <td><%= prod.product_number %></td>
                <td>
                  <% if prod.active? %>
                    <%= fa_icon "check" %>
                  <% else %>

                    <%= fa_icon "close" %>
                  <% end %>
                </td>
              </tr>
              <% end %>
            </tbody>
          </table>

        </div>



</div>
